<%=flash["alert"]%>
<%if session["user_id"] == nil%>
	<form action="/log_in" method="get">
		Username
		<input type="text" name="username">
		Password
		<input type="password" name="password">
		<button type="submit">Log In</button>
	</form>
	<a href="/sign_up">Don't have an account? Sign-up here</a>
<%else%>
	<section>
	Welcome <%=@user.username%>
	<a href = "/users/<%=@user.id%>/edit">Change Settings</a>
	<a href = "/log_out">Log Out</a>
	</section>
<%end%>
