<div class="flexsearch">
		<div class="flexsearch--wrapper">
			<form class="flexsearch--form" action="/search" method="get">
				<div class="flexsearch--input-wrapper">
				 <input class='flexsearch--input' type="text" name="query">
				</div>
			   <input class='flexsearch--submit' type="submit" value="&#10140;">
			</form>
		</div>
</div>
<% if @recipes != nil %>
	<div class='container-recipe'>

		<div class='recipe-main'>
			<div>
			  <%= image_tag @recipes[0]["recipe"]["image"] %>
		  </div>
			<div>
				<h2><%= @recipes[0]["recipe"]["label"].split(" ").map { |x| x.capitalize }.join(" ") %></h2>
			</div>
		</div>

		<div class='recipe-recommended'>
	    <% @recipes.each_with_index do |hit, index| %>
	      <% the = hit["recipe"] %>
				<% if index > 0 && index < 5 %>
				  <p>
			       <%= image_tag the["image"] %>
				  </p>
				<% end %>
			<% end %>
		</div>

			<div class='recipe-recommended'>
		    <% @recipes.each_with_index do |hit, index| %>
		      <% the = hit["recipe"] %>
					<% if index > 4 && index < 9 %>
					  <p>
				       <%= image_tag the["image"] %>
					  </p>
					<% end %>
				<% end %>
		  </div>

  </div>
<% end %>
