

<form action="/conductlocalsearch" method="get" >
	<input type="text" name="query" placeholder="Query">
	<button type="button" onclick="dropDown()">Tags</button>
	<div id="tags" style="display: none;">
	<input type="checkbox" name="tags[]" value="vegertarian">Vegetarian
	<input type="checkbox" name="tags[]" value="vegan">Vegan
	<input type="checkbox" name="tags[]" value="breakfast">Breakfast
	<input type="checkbox" name="tags[]" value="lunch">Lunch
	<input type="checkbox" name="tags[]" value="dinner">Dinner
	<input type="checkbox" name="tags[]" value="dessert">Dessert
	</div>
	Min Rating
	<input id="ratings" type="hidden"name="rating" value="1">
	<button type="submit">Search</button>
</form> 

	<button  id= "button1" onclick="changeRating1()">&#9734</button> 
	<button id= "button2" onclick="changeRating2()">&#9734</button> 
	<button id= "button3" onclick="changeRating3()">&#9734</button> 
	<button id= "button4" onclick="changeRating4()">&#9734</button> 
	<button id= "button5" onclick="changeRating5()">&#9734</button> 



<script type="text/javascript">
var rating = document.getElementById("ratings")
var button1 = document.getElementById("button1")
var button2 = document.getElementById("button2")
var button3 = document.getElementById("button3")
var button4 = document.getElementById("button4")
var button5 = document.getElementById("button5")
var div3 = document.getElementById("tags")

function changeRating1() {
	rating.setAttribute("value","1") 
	if (escape(button1.innerHTML) == "%u2606"){
		button1.innerHTML = "&#9733"
	}
	else { if(escape(button2.innerHTML)=="%u2606"){
		button1.innerHTML = "&#9734"
		}
		else {
			button2.innerHTML = "&#9734"
			button3.innerHTML = "&#9734"
			button4.innerHTML = "&#9734"
			button5.innerHTML = "&#9734" }
	}


}

function changeRating2() {
	rating.setAttribute("value","2") 
		if (escape(button2.innerHTML) == "%u2606"){
		button1.innerHTML = "&#9733"
		button2.innerHTML = "&#9733"
	}
	else { if(escape(button3.innerHTML)=="%u2606"){
		button1.innerHTML = "&#9734"
		button2.innerHTML = "&#9734"
		}
		else {
			button3.innerHTML = "&#9734"
			button4.innerHTML = "&#9734"
			button5.innerHTML = "&#9734" }
	}

}
function changeRating3() {
	rating.setAttribute("value","3") 
			if (escape(button3.innerHTML) == "%u2606"){
		button1.innerHTML = "&#9733"
		button2.innerHTML = "&#9733"
		button3.innerHTML = "&#9733"
	}
	else { if(escape(button3.innerHTML)=="%u2606"){
		button1.innerHTML = "&#9734"
		button2.innerHTML = "&#9734"
		button3.innerHTML = "&#9734"
		}
		else {
			button4.innerHTML = "&#9734"
			button5.innerHTML = "&#9734" }
	}
}
function changeRating4() {
	rating.setAttribute("value","4") 
		if (escape(button4.innerHTML) == "%u2606"){
		button1.innerHTML = "&#9733"
		button2.innerHTML = "&#9733"
		button3.innerHTML = "&#9733"
		button4.innerHTML = "&#9733"
	}
	else { if(escape(button3.innerHTML)=="%u2606"){
		button1.innerHTML = "&#9734"
		button2.innerHTML = "&#9734"
		button3.innerHTML = "&#9734"
		button4.innerHTML = "&#9734"
		}
		else {
			button5.innerHTML = "&#9734" }
	}
}
function changeRating5() {
	rating.setAttribute("value","5") 
			if (escape(button5.innerHTML) == "%u2606"){
		button1.innerHTML = "&#9733"
		button2.innerHTML = "&#9733"
		button3.innerHTML = "&#9733"
		button4.innerHTML = "&#9733"
		button5.innerHTML = "&#9733"
	}
	else {
		button1.innerHTML = "&#9734"
		button2.innerHTML = "&#9734"
		button3.innerHTML = "&#9734"
		button4.innerHTML = "&#9734"
		button5.innerHTML = "&#9734"
	}
}
function dropDown() {
 if  (div3.getAttribute('style') != ""){
    div3.setAttribute('style',"")}
  else{  div3.setAttribute('style',"display: none;")

 }
}



</script>
