<p id="notice"><%= notice %></p>

<h1>Listing Recipes</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><% recipe.rating.to_i.times do%>
            &#9733
            <%end%>
         </td>
        <td> <a href="/recipes/<%=recipe.id%>">Go To</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
