.form-style {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.form-style h1{

    background: #916D2F;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.form-style h3{

}

.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style textarea,
.form-style select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="datetime"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style textarea:focus,
.form-style select:focus
{
    box-shadow: 0 0 5px #916D2F;
    padding: 3%;
    border: 1px solid #916D2F;
}

.form-style input[type="button"],
.form-style button[type="button"],
.form-style button[type="submit"],
.form-style input[type="submit"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    margin-bottom: 3%;
    background: #916D2F;
    border-bottom: 2px solid #735624;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}


.form-style input[type="button"]:hover,
.form-style button[type="button"]:hover,
.form-style button[type="submit"]:hover,
.form-style input[type="submit"]:hover{
    background: #B3842E;
}



.form-style--search {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.form-style--search h1{
    background: #916D2F;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.form-style--search input[type="text"],
.form-style--search input[type="date"],
.form-style--search input[type="datetime"],
.form-style--search input[type="email"],
.form-style--search input[type="number"],
.form-style--search input[type="search"],
.form-style--search input[type="time"],
.form-style--search input[type="url"],
.form-style--search textarea,
.form-style--search select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.form-style--search input[type="text"]:focus,
.form-style--search input[type="date"]:focus,
.form-style--search input[type="datetime"]:focus,
.form-style--search input[type="email"]:focus,
.form-style--search input[type="number"]:focus,
.form-style--search input[type="search"]:focus,
.form-style--search input[type="time"]:focus,
.form-style--search input[type="url"]:focus,
.form-style--search textarea:focus,
.form-style--search select:focus
{
    box-shadow: 0 0 5px #916D2F;
    padding: 3%;
    border: 1px solid #916D2F;
}

.form-style--search input[type="file"],
.form-style--search input[type="button"],
.form-style--search button[type="submit"],
.form-style--search input[type="submit"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    margin-bottom: 3%;
    background: #916D2F;
    border-bottom: 2px solid #735624;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.form-style--search input[type="file"]:hover,
.form-style--search input[type="button"]:hover,
.form-style--search button[type="submit"]:hover,
.form-style--search input[type="submit"]:hover{
    background: #B3842E;
}
