.receipe-container {
  display: table;
  width: 100%;
}

.main-recipe {
  display: table-cell;
  width 60%;
}

.main-recipe div img {
}

.recommended-recipe {
  display: table-cell;
  width: 20%;
}

.recommended-recipe p img {
  width: 40%;
  height: auto;
}
